<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="bg-stone-700">
    <header class="bg-black h-72 mb-2 flex justify-center items-center">
      <h1>
        <a class="text-white text-2xl" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </h1>
    </header>

    <main class="container mx-auto bg-white p-5 min-h-[50%]">
      {{ block "main" . }}{{ end }}
    </main>

   
    <footer class="bg-black text-white mt-2 p-1 h-72">
      <div class="sm:container sm:mx-auto">
        <section>
          <address class="text-center">
            mi.ki.ri.hassha.p@gmail.com
          </address>
        </section>
        <section class="flex justify-around items-stretch">
          <div class="flex-1 p-1">
            <h2> タグ </h2>
      
            {{- range $termName, $entries := .Site.Taxonomies.tags }}
            <a href="{{ "/tags/" | relLangURL }}{{ $termName | urlize
                    }}">{{ $termName | upper }}</a> ({{ $entries.Count }})
                {{- end }}
          </div>
        </section>
      </div>

      
      </footer>
  </body>
</html>