{{ define "main" }}
  <h2>記事一覧</h2>
  <ul class="flex flex-wrap justify-around items-center ">
    {{ range (where .RegularPages "Section" "posts") }}
      <li class="flex bg-gradient-to-br from-stone-50 to-stone-100 border border-stone-700 rounded p-3 m-5 shadow">
        <article class="flex flex-col justify-start items-stretch w-96">
          <header class="flex justify-start items-center mt-5 ">
            <div class="p-1 text-3xl" style="color: rgb(
                {{ index (.Params.rgb) 0 }},
                {{ index (.Params.rgb) 1 }},
                {{ index (.Params.rgb) 2 }}
              );">
              ■ 
            </div>
            <h3 class="p-1">
              <a class="p-5 text-3xl flex flex-col justify-center items-center" href="{{ .Permalink }}">
                {{ .Title }}
                <p class="text-xl">
                  ( {{.Params.kana}} )
                </p>
              </a>
            </h3>
          </header>
          <main class="p-1">
            {{ .Summary }}
          </main>
          <footer class="flex justify-start items-center p-2">
            <div class="flex justify-start items-center p-4">
              
              {{ .Date.Format "2006-01-02" }}
            </div>
            <div class="flex flex-wrap justify-start items-center p-2">
              <h4 class="font-bold">Tags: </h4>
              {{ range $tag := .Params.Tags }}
                <a class="p-2" href="{{ "/tags/" | relLangURL }}{{ $tag | urlize
                }}">{{ $tag | upper }}</a>
              {{ end }}
            </div>
            <div class="flex flex-wrap justify-start items-center p-2">
              <h4 class="font-bold">Related: </h4>
              {{ $related := .Site.RegularPages.Related . | first 5 }}
                {{ with $related }}
                  {{ range . }}
                  <a class="p-2"  href="{{ .RelPermalink }}">
                    {{ .Title }}
                  </a>
                  {{ end }}
              {{ end }}
            </div>
          </footer>
        </article>
      </li>
    {{ end }}
  </ul>
{{ end }}