{{ define "main" }}
  <h2>記事一覧</h2>
  <ul>
    {{ range (where .Site.RegularPages "Section" "posts") }}
      <li>
        <article>
          <header class="flex justify-start item-center">
            <div class="p-1" style="color: rgb(
                {{ index (.Params.rgb) 0 }},
                {{ index (.Params.rgb) 1 }},
                {{ index (.Params.rgb) 2 }}
              );">
              ■ 
            </div>
            <h3 class="p-1"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          </header>
          <main>
            {{ .Summary }}
          </main>
          <footer>
            <div>
              {{ .Date.Format "2006-01-02" }}
            </div>
            <div>
              {{ range $tag := .Params.Tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize
                }}">{{ $tag | upper }}</a>
              {{ end }}
            </div>

          </footer>
        </article>
      </li>
    {{ end }}
  </ul>
{{ end }}