{{ define "main" }}
  <h2>記事一覧</h2>
  <ul>
    {{ range (where .Site.RegularPages "Section" "posts") }}
      <li>
        <article>
          <header class="flex justify-start item-center bg-gradient-tl from-stone-50 to-stone-200 border-stone-50 rounded ">
            <div class="p-1" style="color: rgb(
                {{ index (.Params.rgb) 0 }},
                {{ index (.Params.rgb) 1 }},
                {{ index (.Params.rgb) 2 }}
              );">
              ■ 
            </div>
            <h3 class="p-1">
              <a class="p-5" href="{{ .Permalink }}">
                {{ .Title }}
              </a>
            </h3>
          </header>
          <main class="prose p-5">
            {{ .Content }}
          </main>
          <footer class="flex justify-start item-center p-2">
            <div class="flex justify-start item-center p-4">
              {{ .Date.Format "2006-01-02" }}
            </div>
            <div class="flex justify-start item-center p-2">
              {{ range $tag := .Params.Tags }}
                <a class="p-2" href="{{ "/tags/" | relLangURL }}{{ $tag | urlize
                }}">{{ $tag | upper }}</a>
              {{ end }}
            </div>

          </footer>
        </article>
      </li>
    {{ end }}
  </ul>
{{ end }}